.swiper-slide-1 {
    background-image: url("/img/swiper-content/swiper-content-1.jpg");
}

.swiper-slide-2 {
    background-image: url("/img/swiper-content/swiper-content-2.jpg");
}

.swiper-slide-3 {
    background-image: url("/img/swiper-content/swiper-content-3.jpg");
}

.swiper-slide-4 {
    background-image: url("/img/swiper-content/swiper-content-4.jpg");
}

