.swiper-slide-1 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-1.jpg");
}

.swiper-slide-2 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-2.jpg");
}

.swiper-slide-3 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-3.png");
}

.swiper-slide-4 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-4.jpg");
}

.swiper-slide-5 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-5.png");
}

.swiper-slide-6 {
    background-image: url("https://jsdelivrcdn.suswhw.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-6.png");
}