.swiper-slide-1 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-1.webp");
}

.swiper-slide-2 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-2.webp");
}

.swiper-slide-3 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-3.webp");
}

.swiper-slide-4 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-4.webp");
}

.swiper-slide-5 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-5.webp");
}

.swiper-slide-6 {
    background-image: url("https://img-r2.anjiurine.top/redstoneart-server/swiper-content/swiper-content-6.webp");
}