.about-us {
    background-color: rgb(36,41,46);
    display: flex !important
}

.about-us-content {
    display: flex !important;
    align-items: center
}

.about-us h2 {
    font-weight: bolder;
}

.about-us p {
    font-family: 'FangSong'
}

.about-us-content [pos="left"] {
    width: auto;
    text-align: right;
    margin-top: -15px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 20px;
}

.about-us div img {
    height: 300px;
}
.about-us-content [pos="right"] {
    width: 55%;
    text-align: left;
    height: auto;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important
}
.about-us div{
    height: auto;
}
.about-us div div {
    font-size: 20px;
}
@media (max-width: 800px) {
    .about-us {
        padding-bottom: 70px;
    }
    .about-us div {
        margin: 0px;
    }
    .about-us div[pos="left"] {
        text-align: center;
        width: 100%;
    }
    .about-us div img {
        height: 300px;
        padding-right: 20px;
    }
    .about-us div[pos="right"] {
        text-align: center;
        width: 100%;
        height: auto;
        padding-right: 2rem;
    }
    #more {
        top: -150px;
    }
}