.core-members-content {
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    height: 415px;
    overflow: auto;
}



.core-members-content div {
    width: 300px;
    cursor: pointer;
    transition: all 0.5s;
}

.core-members-content img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.core-members-content h3 {
    letter-spacing: 2px;
    font-family: "SimSun";
}

.core-members-content p {
    font-size: 20px;
    font-family: "FangSong";
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.core-members h2 {
    font-weight: bolder;
}
.core-members-wrapper::before {  
    content: "";
    position: absolute; 
    top: 0; 
    right: 0;   
    width: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px; 
    opacity: 0; 
    transition: opacity 0.2s; 
} 

.core-members-wrapper:hover::before { 
    opacity: 1; 
} 