.footer-1 {
    background-image: url(https://jsdelivrcdn.anjiurine.top/npm/redstoneart-server-website-npm-cdn/img/swiper-content/swiper-content-1.jpg);
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.footer-2 {
    box-shadow: 0px -10px 15px 3px rgba(25, 27, 29, 0.8);
    padding-top: 30px;
    margin-top: 0px;
    /* padding-bottom: 30px; */
    background-color: rgb(30,34,37);
}

.footer-2 h1 {
    font-size: 18px;
    font-weight: bold;
}

.footer-2 ul li {
    display: inline-block;
    margin: 0 7px;
    text-align: center;
}

.footer-2 a {
    transition-property: all;
    transition-duration: 200ms;
}

.footer-2 a {
    color: rgb(124, 125, 126);
    text-decoration: none;
}

.footer-2 p {
    color: rgb(124, 125, 126);
    text-decoration: none;
}

.footer-2 h1 {
    color: rgb(124, 125, 126);
    text-decoration: none;
}