.join-us-button {
    transition-property: all;
    transition-duration: 400ms;
    margin: 5px;
    color: #f8f9fa;
    text-decoration: none;
    padding: 10px;
    padding-left: 11%;
    padding-right: 11%;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    background-color: none;
}

.join-us-title {
    padding-top: 40px;;
    padding-bottom: 40px;
}

.join-us h2 {
    font-weight: bolder;
}

.join-us-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
}